<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>s001_idle0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,402},{41,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,47},{41,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,0},{42,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,47},{42,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,201},{43,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,47},{43,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,400},{44,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,47},{44,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,100},{45,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,47},{45,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,0},{46,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,48},{46,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,300},{48,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,48},{48,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,100},{50,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,48},{50,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,300},{51,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,48},{51,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,400},{53,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,48},{53,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,300},{54,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,48},{54,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,0},{56,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,48},{56,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{57,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,48},{57,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{57,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,48},{57,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{58,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,48},{58,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{57,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,48},{57,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{57,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,48},{57,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,100},{56,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,48},{56,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,200},{55,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,48},{55,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,400},{52,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,48},{52,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,200},{51,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,48},{51,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,0},{49,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,48},{49,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,400},{47,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,48},{47,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0023.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,100},{45,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,48},{45,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0024.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,0},{43,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,48},{43,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0025.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,200},{42,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{130,48},{42,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0026.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,202},{41,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,48},{41,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0027.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,302},{41,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,48},{41,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0028.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,202},{40,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,48},{40,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0029.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,101},{40,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,47},{40,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0030.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,302},{40,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,47},{40,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0031.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,403},{40,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,47},{40,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_idle0032.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,101},{41,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,47},{41,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>