<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>s001_att010000.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,388},{41,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,47},{41,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010001.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,0},{47,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,47},{47,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010002.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,384},{48,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,47},{48,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010003.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,287},{46,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,47},{46,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010004.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,186},{47,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,47},{47,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010005.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,384},{48,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,48},{48,99}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010006.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,186},{61,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{126,51},{61,98}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{91,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,58},{91,89}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010008.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,179},{80,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,59},{80,88}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010009.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,0},{77,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,60},{77,87}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010010.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,0},{78,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,60},{78,87}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010011.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,90},{80,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{110,59},{80,88}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010012.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,273},{83,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{107,59},{83,88}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,367},{87,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,58},{87,89}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,182},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,57},{90,90}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{90,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{100,56},{90,91}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{88,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{102,54},{88,93}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010017.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,367},{84,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,52},{84,95}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010018.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,88},{71,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,50},{71,97}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010019.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,285},{53,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,49},{53,98}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

			<key>s001_att010020.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,388},{41,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,47},{41,100}}</string>
				<key>sourceSize</key>
				<string>{320,240}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>